.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.lscreen{
  width: 50vw;
  background-color: rgb(75, 75, 75);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rscreen{
  width: 50vw;
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
img{
  width: 20vw;
  aspect-ratio: 1;
  object-fit: contain;
}

.roundscreen{
  display: grid;
  grid-template-columns: auto auto;
}
.item:hover{
background-color: gray;
}

@keyframes my-animation {
  0% {
      transform: scale(1);
  }
  20% {
    top: 50%; left: 50% ; transform: scale(1);
  }
  /* 20% {
      transform: translate(0, 40%) scale(1);
  } */
  40% {
    top: 50%; left: 50%; transform: scale(1);
 }
 100% {
  top: 50%;  left: 50%; transform: scale(1);
}
}

.first {
  background-color: rgb(255, 255, 255);
  /* width: 25vw;
  height: 50vh; */
  /* padding: 100px; */
  animation: my-animation 1s linear forwards;
}
.first:hover{
  background-color: rgb(255, 255, 255);
}
.text{
  text-align: center;
}
.name{
  font-size: 30px;
}

.option{
  margin: 20px;
  padding: 10px 45px;
  border-radius: 20px;
}

.gohome{
  background-color: rgb(255, 125, 125);
  border: 5px solid rgb(255, 214, 214);

}

.continue{
  background-color: rgb(84, 196, 84);
  border: 5px solid rgb(199, 255, 199);

}

.start{
  background-color: rgb(109, 109, 255);
}