.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.lscreen{
  width: 50vw;
  background-color: rgb(199, 191, 182);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rscreen{
  width: 50vw;
  background-color: rgb(230, 230, 230);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
img{
  width: 20vw;
  aspect-ratio: 1;
  object-fit: contain;
}

.roundscreen{
  display: grid;
  grid-template-columns: auto auto;
  gap:50px;
}
.item:hover{
background-color: rgb(199, 191, 182);
border-radius: 50px;
}


/* @keyframes sss {
  0% {
     transform: translate(0, 0) scale(1);
  }
  2% {
     transform: translate(calc(-50%), calc(50%)) scale(1);
  }
  4% {
    transform: translate(calc(-50%), calc(50%)) scale(2);
 }
 100% {
    transform: translate(calc(-50%), calc(50%)) scale(2);
}
}
.second {
  animation: sss 1s linear forwards;
}
.second:hover{
  background-color: rgb(255, 255, 255);
} */


.text{
  text-align: center;
  font-size: 20px;
}
.name{
  font-size: 30px;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.option{
  margin: 20px;
  padding: 10px 45px;
  border-radius: 20px;
}

.description{
  text-align: center;
  width: 25vw;
  font-size: 25px;
}

.continue{
  background-color: rgb(197, 173, 145);
  border: 5px solid rgb(230, 205, 177);
  width: 5vw;
  text-align: center;


}

.price{
  display: none;
  font-size: 40px;
}


.reveal{
  display: block;
}

.oyu{
  width: 10vw;
}

.oyuDown{
rotate: 180deg;
}

.middleOyus{
  position: absolute;
  left: 40%;
  display: flex;
  flex-direction: column;
}

.middleOyu{
  height: 20vh;
}

.startscreen{
  background-color: rgb(199, 191, 182);
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.start{
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  padding: 20px 50px;
  /* color: rgb(199, 191, 182); */
}

.inp{
  width: 200px;
  margin-bottom: 30px;
  height: 40px;
  border-radius: 10px;
}

.logo{
  font-size: 150px;
  margin: 30px;
}